{% extends 'site/layout.html' %}

{% block content %}
<main class="main-content">
  <div class="main-content-contact">
    <h2 class="main-title">Entre em contacto</h2>

    <div class="main-container-contact">
      <section class="contact">
        <h4 class="sub-title">Envie uma mensagem</h4>
        <p>Utilize o formulário de contacto para enviar a sua mensagem</p>

        <form>
          <div class="input-field">
            <input id="input" type="text">
            <label for="input">Nome</label>
          </div>

          <div class="input-field">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
            <span class="helper-text" data-error="Incorrecto" data-success="Correcto"></span>
          </div>

          <div class="input-field">
            <textarea id="textarea2" class="materialize-textarea" data-length="120" maxlength="120"></textarea>
            <label for="textarea2">Mensagem</label>
          </div>

          <a class="waves-effect waves-light btn-small">Enviar</a>

        </form>

      </section>


      <section class="location">
        <div class="google-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15767.714006937606!2d13.485744553967297!3d-8.886239797495175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-PT!2sao!4v1606079028455!5m2!1spt-PT!2sao"
            frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
          </iframe>
        </div>

        <div class="address">
          <header class="address-item">
            <h3 class="sub-title">Endereço</h3>
            <p>Rua 09, Bairro Sequele, Cacuaco - Luanda</p>
          </header>


          <header class="address-item">
            <h3 class="sub-title">E-mail</h3>
            <p>ivarilson909@gmail.com</p>
          </header>


          <header class="address-item">
            <h3 class="sub-title">Telefone</h3>
            <p>(+244) 938709693</p>
          </header>

        </div>
      </section>
    </div>
  </div>
</main>
{% endblock content %}