{% extends 'site/layout.html' %}

{% block content %}
<main class="main-content">
  <div class="about-us-content">
    <h2 class="main-title">About us</h2>

    <div class="main-container-about-us">

      <section class="our-story">
        <h4 class="sub-title">Our Story</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, esse inventore voluptas.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas molestiae rem veniam magnam debitis? Quod
          reiciendis asperiores, ullam sed odio quisquam sit nihil aspernatur autem numquam libero, dolorem deserunt
          possimus est repellendus provident voluptas tempore quis earum id inventore? Culpa, ducimus. Aliquid officiis
          harum beatae quidem eos similique saepe fugit earum vero totam! Ab ratione dolores dolore totam ducimus
          corporis velit repellendus quisquam doloremque aperiam iste quia beatae, labore facere numquam voluptate amet
          laboriosam reprehenderit, eius deleniti debitis esse. Molestias vel eaque repellat esse alias maxime non
          aperiam vero asperiores.
        </p>

      </section>



      <section class="our-mission">
        <h4 class="sub-title">Mission & Vision</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur vitae eius aspernatur enim ducimus
          accusantium harum. Quaerat vero itaque quod illo! Cupiditate, architecto suscipit esse sapiente a laborum
          veniam sit.
        </p>

      </section>



      <section class="gallery">
        <h4 class="sub-title">Galery</h4>

        <div class="gallery-group">
          <div class="gallery-item">
            <img class="materialboxed"
              src="https://images.pexels.com/photos/2619967/pexels-photo-2619967.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">

          </div>

          <div class="gallery-item">
            <img class="materialboxed" src="https://cdn.pixabay.com/photo/2018/03/06/13/49/pizza-3203451__340.jpg"
              alt="">

          </div>

          <div class="gallery-item">
            <img class="materialboxed"
              src="https://images.pexels.com/photos/4553123/pexels-photo-4553123.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">

          </div>

          <div class="gallery-item">
            <img class="materialboxed" src="https://cdn.pixabay.com/photo/2017/09/30/17/04/pizza-2802679__340.jpg"
              alt="">

          </div>

          <div class="gallery-item">
            <img class="materialboxed" src="https://cdn.pixabay.com/photo/2020/04/29/03/30/pizza-5107039__340.jpg"
              alt="">

          </div>


          <div class="gallery-item">
            <img class="materialboxed" src="https://cdn.pixabay.com/photo/2020/04/29/14/58/pizza-5109193__340.jpg"
              alt="">

          </div>

        </div>

      </section>



      <section class="skills">
        <h4 class="sub-title">Values</h4>

        <ul>
          <li>- Transparency</li>
          <li>- Loyalty</li>
          <li>- Quality</li>
          <li>- Quickness</li>
        </ul>

      </section>

    </div>
  </div>
</main>
{% endblock content %}