{% extends 'site/layout.html' %}

{% block content %}
<main class="main-content">
  <div class="about-us-content">
    <h2 class="main-title">Quem somos</h2>

    <div class="main-container-about-us">

      <section class="our-story">
        <h4 class="sub-title">Nossa história</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, esse inventore voluptas.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, esse inventore voluptas
          fugit sunt pariatur earum doloribus nulla architecto.
        </p>
      </section>



      <section class="our-mission">
        <h4 class="sub-title">Missão & Visão</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. voluptas
          Unde libero ratione modi perferendis ullam.
        </p>

      </section>



      <section class="gallery">
        <h4 class="sub-title">Galeria</h4>

        <div class="gallery-group">
          <div class="gallery-item">
            <img class="materialboxed"
              src="https://images.pexels.com/photos/2619967/pexels-photo-2619967.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">

          </div>

          <div class="gallery-item">
            <img class="materialboxed" src="https://cdn.pixabay.com/photo/2018/03/06/13/49/pizza-3203451__340.jpg"
              alt="">

          </div>

          <div class="gallery-item">
            <img class="materialboxed"
              src="https://images.pexels.com/photos/4553123/pexels-photo-4553123.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="">

          </div>

          <div class="gallery-item">
            <img class="materialboxed" src="https://cdn.pixabay.com/photo/2017/09/30/17/04/pizza-2802679__340.jpg"
              alt="">

          </div>

          <div class="gallery-item">
            <img class="materialboxed" src="https://cdn.pixabay.com/photo/2020/04/29/03/30/pizza-5107039__340.jpg"
              alt="">

          </div>


          <div class="gallery-item">
            <img class="materialboxed" src="https://cdn.pixabay.com/photo/2020/04/29/14/58/pizza-5109193__340.jpg"
              alt="">

          </div>

        </div>

      </section>



      <section class="skills">
        <h4 class="sub-title">Valores</h4>

        <ul>
          <li>- Transparência</li>
          <li>- Fidelidade</li>
          <li>- Qualidade</li>
          <li>- Rapidez</li>
        </ul>

      </section>

    </div>
  </div>
</main>
{% endblock content %}