{% extends 'site/layout.html' %}

{% block content %}
<main class="main-content">
  <div class="home-content">
    <section class="differencial">
      <h2 class="main-title">The best pizza in town!</h2>
      <div class="cardapio">
        <figure>
          <img src="https://cdn.pixabay.com/photo/2020/05/17/04/22/pizza-5179939__340.jpg" alt="" class="materialboxed">
          <figcaption>Siciliana</figcaption>
        </figure>

        <figure>
          <img src="https://cdn.pixabay.com/photo/2015/07/15/19/44/pizza-846841__340.jpg" alt="" class="materialboxed">
          <figcaption>Portuguesa</figcaption>
        </figure>
        
        <figure>
          <img src="https://cdn.pixabay.com/photo/2016/09/14/16/48/pizza-1669808__340.jpg" alt="" class="materialboxed">
          <figcaption>Calabresa</figcaption>
        </figure>
      </div>

    </section>

    <article class="flavour">
      <h2 class="sub-title">Choose your favourite</h2>
      <div class="flavour-group">

        <ul>
          <li>À Moda da Casa</li>
          <li>Aliche</li>
          <li>Atum</li>
          <li>Baiana</li>
          <li>Bauru</li>
          <li>Canadense</li>
          <li>Catupiri</li>
          <li>Calabresa</li>
        </ul>

        <ul>
          <li>Escarola</li>
          <li>Frango</li>
          <li>Margharita</li>
          <li>Mexicana</li>
          <li>Mussarela</li>
          <li>Napolitana</li>
          <li>Palmito</li>
          <li>Portuguesa</li>
        </ul>

        <ul>
          <li>Provolone</li>
          <li>Quatro Queijo</li>
          <li>Romana</li>
          <li>Siciliana</li>
        </ul>

      </div>
    </article>

    <article class="history">
      <h2 class="sub-title">An house with history</h2>

      <div class="history-img">
        <img
          src="https://images.pexels.com/photos/1653702/pexels-photo-1653702.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
          alt="" class="materialboxed">
      </div>

      <div class="history-description">
        <p>Famous in town due to the excellent quality. Our pizzaria has more than 25 years of histories.</p>
        <p><a href="#">Visit us</a></p>
      </div>

    </article>
  </div>
</main>

{% endblock content %}