<header class="main-header">
    <nav>
        <div class="nav-wrapper">
            <div class="brand-logo hide-on-med-and-down">
                <img src="https://media-cdn.tripadvisor.com/media/photo-s/09/6b/9b/ee/super-pizza.jpg">
            </div>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>

            <ul class="right">
                <li><a href="#email" class="email-link"><span class="email">Ligue agora!</span></a></li>
                <li><a href="#email" class="email-link"><span class="call-number">(+244) 938-709-693</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <ul class="nav-linear hide-on-med-and-down">
        <li><a class="waves-effect" href="{{ url_for('home') }}">Home</a></li>
        <li><a class="waves-effect sidenav-close" href="{{ url_for('about') }}">Quem somos</a></li>
        <li><a class="waves-effect" href="{{ url_for('contact') }}">Contacto</a></li>
    </ul>

    <ul id="slide-out" class="sidenav">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="https://cdn.pixabay.com/photo/2018/07/09/09/34/pizza-3525673__340.jpg">
                </div>
                <div class="logo-inside">
                    <img src="https://media-cdn.tripadvisor.com/media/photo-s/09/6b/9b/ee/super-pizza.jpg">
                </div>
                <a href="home.html"><span class="white-text name">Super PIZZA</span></a>
                <a href="#email" class="email"><span class="email">Ligue agora!<br><span
                            class="call-number white-text email">(+244) 938-709-693</span></span></a>

            </div>
        </li>
        <!-- MENU HUMBURGER, PHONE MENU -->>
        <li><a class="waves-effect sidenav-close" href="{{ url_for('home') }}">Home</a></li>
        <li><a class="waves-effect sidenav-close" href="{{ url_for('about') }}">Quem somos</a></li>
        <li><a class="waves-effect sidenav-close" href="{{ url_for('contact') }}">Contacto</a></li>
    </ul>

</header>